.nav_conteiner{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 97vw;
}

.nav_buttons{
    display: flex;
    align-items: center;
}

.nav_buttons button {
    margin: 3px;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
}