@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:wght@300;600&family=Roboto:wght@100&display=swap');

:root {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color-scheme: light dark;
  color: #d4d4d4;
  background:radial-gradient(circle 500px at 50% 200px,#3e3e3e,transparent);
}

a {
  color: #4f535c;
  text-decoration: none;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  margin: 3px;
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #bdbdbd25;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  margin: 3px;
  background-color: transparent;
  border: solid 1px #d4d4d4;
  border-radius: 8px;
  color: #d4d4d4;
}

select {
  margin: 3px;
  background-color: transparent;
  border: solid 1px #d4d4d4;
  border-radius: 8px;
  color: #d4d4d4;
}

option{
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}