.box_form{
    width: 100%;
    justify-content: center;
}

.form_conteiner{
    display: flex;
    justify-content: center;
}

.form_conteiner h1{
    display: flex;
    justify-content: center;
}

.button_conteiner{
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.button_conteiner button{
    width: 200px;
}

.input_conteiner{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
}

.input_conteiner h1{
    display: flex;
    justify-content: center;
}

.activity_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.activity_conteiner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 6px;
    margin: 3px;
    border: solid .5px whitesmoke;
    border-radius: 6px;
}

.activity_conteiner h2{
    font-size: 1rem;
}

.activity_conteiner h3{
    font-size: .8rem;
}

.box_activity{
    padding: 1rem;
    width: 100%;
}