.page_conteiner{
    display: grid;
    justify-content: center;
    max-width: 100vh;
    max-height: 100%;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

.page_conteiner h1{
    font-size: 2rem;
}

.page_card{
    border-radius: 1rem;
    transition: transform 0.3s ease-in;
}

.page_card:hover {
    transform: translateY(-3px);
}

.page_card h1 {
    position: relative;
    font-size: 1.5rem;
}

.paginator_conteiner{
    display: flex;
    justify-content: center;
}

.box_page{
    min-height: 95vh;
}


@media screen and (max-width:768px){
    .page_conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px){
    .page_conteiner{
        grid-template-columns: 1fr;
        justify-content: center;
    }
}