.page_conteiner{
    display: grid;
    justify-content: center;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.activity_conteiner{
    height: 200px;
    width: 350px;
    border-radius: 5px;
    border: solid 1px white;
}

@media screen and (max-width:768px){
    .page_conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px){
    .page_conteiner{
        grid-template-columns: 1fr;
    }
}

.page_conteiner h1{
    font-size: 2rem;
}

.page_card{
    border-radius: 4px;
    padding: 5px;
    width: 320px;
    height: 200px;
    margin: 3px;
}

.paginator_conteiner{
    display: flex;
    justify-content: center;
}